<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="javaruntime" />
    <package id="vlc" />
    <package id="git" />
    <package id="visualstudiocode" />
    <package id="lhaplus" />
    <package id="atom" />
    <package id="nodist" />
    <package id="unity" />
    <package id="jetbrainstoolbox" />
    <package id="steam" />
    <package id="sourcetree" />
    <package id="googlechrome" />
    <package id="dropbox" />
    <package id="obs-studio" />
</packages>